.card {
  margin: 5% auto;
  width: 50%;
  }

  .error {
  color: red
  }

  .success {
  color: green
  }

  mat-button-wrapper{
    color: white;
  }

  mat-form-field {
    margin-right: 12px;
  }

